.card {
    border-radius: 16px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 60px;
    
    overflow: hidden;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    background-color: #faf8f6;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.25rem;
    color: #000000;
    border-radius: 16px;
    background-color: rgb(240, 227, 252);
}

.btn {
    margin-top: 10px;
}

.contents{
    padding-top: 100px;
}

@media (max-width: 992px) {
    .contents{
        padding-top: 90px;
    }
}
