.carrito-btn {
    z-index: 1;
    top: 150px;
    position: fixed;
    padding: 5px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: rgba(0, 0, 0, 0.164);
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 60px; 
    height: 60px;
    transition: width 0.3s ease, padding-top 0.3s ease;
}

.carrito-btn:hover {
    width: 160px;
}

.carrito-btn a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.carrito-btn img {
    height: 45px;
    transition: margin 0.1s ease;
}

.carrito-texto {
    font-size: 19px;
    margin-left: -50px;  
    opacity: 0;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    transition: opacity 0.3s, margin-left 0.4s;
}

.carrito-btn:hover .carrito-texto {
    opacity: 1;
    margin-left: 10px; 
}

