
.carrito-btn{
    z-index: 1;
    top: 150px;
    position: fixed;
    padding: 9px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: rgba(223, 223, 223, 0.435);
    transition: 1s;
    cursor: pointer;
    overflow: hidden;
}
.carrito-btn:hover {
    padding-left: 70px;
    padding-right: 70px;
}
