/* Color de fondo para las celdas de la tabla */
table.table thead th {
    background-color: rgb(255, 71, 71);
    color: white;
}

table.table tbody td {
    background-color: #f8f9fa;
}

/* Cambiar el color del borde */
table.table {
    border-color: rgb(255, 71, 71);
}
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    background-color: rgb(225, 71, 71);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

input[id^="quantity-input-"] {
    width: 50px;
    text-align: center;
    border: 1px solid #333;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}

/* Ajuste general de la tabla */
table.table {
    width: 100%;  /* Asegura que la tabla ocupe el ancho completo del contenedor */
    border-collapse: collapse;  /* Elimina el espacio entre bordes de celdas */
}

table.table th, table.table td {
    padding: 10px;  /* Espaciado interno de las celdas */
    text-align: center;  /* Alinear el texto en el centro de las celdas */
}

/* Estilos opcionales para mejorar la visualización */
table.table th {
    background-color: rgb(255, 71, 71);  /* Color del encabezado */
    color: white;  /* Color del texto del encabezado */
}


/* Ajustar el ancho de cada columna */
table.table th:nth-child(1),  /* Columna de Producto */
table.table td:nth-child(1) {
    width: 200px;  /* Ajusta el ancho de la columna de producto */
}

table.table th:nth-child(2),  /* Columna de Precio */
table.table td:nth-child(2) {
    width: 100px;  /* Ajusta el ancho de la columna de precio */
}

table.table th:nth-child(3),  /* Columna de Cantidad */
table.table td:nth-child(3) {
    width: 120px;  /* Ajusta el ancho de la columna de cantidad */
}

table.table th:nth-child(4),  /* Columna de Total */
table.table td:nth-child(4) {
    width: 100px;  /* Ajusta el ancho de la columna de total */
}

table.table th:nth-child(5),  /* Columna de Botón Eliminar */
table.table td:nth-child(5) {
    width: 50px;  /* Ajusta el ancho de la columna de eliminar */
}
