table.table thead th {
    background-color: #1C5199;
    color: white;
}

table.table tbody td {
    background-color: #f8f9fa;
}

table.table {
    border-color: #1C5199;
}
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    background-color: #1C5199;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

input[id^="quantity-input-"] {
    width: 50px;
    text-align: center;
    border: 1px solid #333;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}

.form-control{
    border: 2px solid #1C5199;
}

.pagar-href{
    background-color: #1C5199;
    border: 2px solid #1C5199;
    color: white;
    text-decoration: none;
    border-radius: 16px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    padding: 7px 26px;
    transition: .5s;
    overflow: hidden;
}

.pagar-href:hover{
    color: black;
    background-color: white;
}