body {
    background-image: url('/img/index/Inicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    border-radius: 30px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 60px;
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
    font-weight: bold;
    position: relative;
    box-shadow: 0px 0px 63px 21px rgba(0, 0, 0, 0.5);
    border: none;
}

.img-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.card-body {
    position: relative;
    z-index: 1;
}

.card-title {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.353);
}

.card-text {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#bebidas-h, #comer-h, #snacks-h{
    font-family:'Futura Std Condensed';
    font-size: 40px;
    font-weight:bold;
}
#bebidas-p, #comer-p, #snacks-p{
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
}

#hrefs{
    border: 2px solid white;
    border-radius: 16px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    padding: 7px 26px;
    transition: .5s;
}
#hrefs:hover{
    border: rgb(255, 71, 71);
    background-color: #1C5199;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
@media (max-width: 1200px){
    #bebidas-h{
        font-size: 30px;
    }
}
@media (max-width: 992px) {
    #bebidas-h, #comer-h, #snacks-h{
        font-size: 35px;
    }
    #bebidas-p, #comer-p, #snacks-p{
        font-size: 25px;
    }
}

@media (max-width: 700px) {
    #bebidas-h, #comer-h, #snacks-h{
        font-size: 30px;
    }
    #bebidas-p, #comer-p, #snacks-p{
        font-size: 20px;
    }
}

