body {
    background-image: url('/img/fondos/FondoBebidas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Esto hace que la imagen se quede fija cuando haces scroll */
}