body {
    background-image: url('/img/index/Inicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Esto hace que la imagen se quede fija cuando haces scroll */
}

.card {
    border-radius: 15px;
    overflow: hidden;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.25rem;
    color: #555;
}

.btn {
    margin-top: 10px;
}

.contents{
    padding-top: 150px;
}

@media (max-width: 992px) {
    .contents{
        padding-top: 90px;
    }
}
